<quiz class="ui container" *ngIf="playing" (onBackToMenu)="onBackToMenu($event)" [name]="appName"></quiz>

<div *ngIf="!playing" class="start-screen">
    <div class="overlay">
        <div class="ui form">
            <div class="six wide field">
                <input type="text" id="user-name" placeholder="Username (0-14 characters)" maxlength="14"
                       [value]="user.name" #usernameInput>
            </div>
            <div class="ui big positive button" (click)="startGame(usernameInput.value)">
                <span *ngIf="!user.registered">Play as Guest</span>
                <span *ngIf="user.registered">Start Game</span>
            </div>
            <div *ngIf="!user.registered"
                 class="ui big orange button"
                 (click)="userService.login()">
                <span><i class="sign in icon"></i>Login</span>
            </div>
        </div>
        <hr>
        <ul>
            <li><h3>How to Play:</h3></li>
            <li>(Complete the math equation)</li>
            <li>(Click to fill in the blanks)</li>
            <li>(Left to right operations only; no "PEMDAS")</li>
        </ul>
    </div>
</div>