<h2 class="ui header divided">{{name}}</h2>
<div class="ui segment">
    <div id="hud">
        <div></div>
        <ul>
            <li>Score: {{score}} <span class="add-score">(+ {{quiz.targetValue}})</span></li>
            <li>Health:
                <i class="heart icon"
                   [class.empty]="health<1"
                   [class.warning]="health==1"></i>
                <i class="heart icon"
                   [class.empty]="health<2"
                   [class.warning]="health==1"></i>
                <i class="heart icon"
                   [class.empty]="health<3"
                   [class.warning]="health==1"></i>
            </li>
        </ul>
    </div>
    <hr>

    <div class="ui small progress"
         data-total="60" id="timer"
         [attr.data-value]="timePercent"
         [class.red]="timePercent < 25"
         [class.yellow]="timePercent < 50 && timePercent > 24"
         [class.olive]="timePercent < 75 && timePercent > 49"
         [class.green]="timePercent < 100 && timePercent > 74">
        <div class="bar"></div>
        <div class="label">Time left: {{time/1000 | round}}</div>

        <!--TODO: animate the amount of extra time added-->

    </div>

    <div id="user-control" class="ui grid">
        <div class="sixteen wide column"><h2>Level: {{diffLevel}}</h2></div>
        <!-- Available Buttons -->
        <div class="ui row">
            <ul class="column">
                <li class="ui blue button"
                    [style.width]="buttonWidth + 'px'"
                    [class.basic]="currAvailInput[i].disabled"
                    *ngFor="let symbol of currAvailInput; let i = index"
                    (click)="selectAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
        </div>

        <!-- Answer Area -->
        <div class="ui row" id="input-area">
            <div class="question-values four wide right aligned column" id="given-value">{{quiz.givenValue}}</div>
            <ul class="eight wide column">
                <li class="ui disabled grey button"
                    [style.width]="buttonWidth + 'px'"
                    [class.blue]="!isEmptyString(currUserInput[i].value)"
                    [class.disabled]="isEmptyString(currUserInput[i].value)"
                    *ngFor="let symbol of currUserInput; let i = index"
                    (click)="removeAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
            <div class="question-values four wide left aligned column" id="target-value">
                = {{quiz.targetValue}}
            </div>
        </div>
        <div class="sixteen wide column"><b>Preview your answer:</b> {{exprString}}</div>
        <div class="ui negative message centered twelve wide column" [class.hidden]="isEmptyString(errorMessage)">
            <div class="header">
                Wrong answer
            </div>
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <hr>

    <div class="ui grid" id="options">
        <!-- Power-Ups -->
        <!--TODO: Resize the buttons for instructions-->
        <div class="left floated sixteen wide mobile five wide tablet four wide computer column">
            <h3>Power-Ups</h3>
            <button class="ui animated fade button teal" [class.disabled]="skipPower == 0" (click)="skipQuestion()">
                <div class="visible content">
                    <i class="fast forward icon"></i>Skip Rope ({{skipPower}}/3)
                </div>
                <div class="hidden content">
                    Skip the current question
                </div>
            </button>
            <button class="ui animated fade button teal" [class.disabled]="boosterPower == 0"
                    (click)="ultimateBooster()">
                <div class="visible content">
                    <i class="bomb icon"></i>Ultimate Booster ({{boosterPower}}/1)
                </div>
                <div class="hidden content">
                    Boost your points with a challenge
                </div>
            </button>
            <!--<button class="ui button teal" (click)="">-->
            <!--<i class="icon"></i>-->
            <!--</button>-->
        </div>
        <div class="right floated sixteen wide mobile five wide tablet four wide computer column">
            <h3 class="right aligned text">Options</h3>
            <button class="right floated ui button red" (click)="quitGame()">Quit Game</button>
        </div>
    </div>
</div>


<div class="ui small modal" id="confirm-quit">
    <div class="header">
        Quitting Game...
    </div>
    <div class="content" style="text-align: center">
        Are you sure you want to quit game?
    </div>
    <div class="actions">
        <div class="ui positive button" (click)="gameOver()">Yes</div>
        <div class="ui negative button" (click)="resume()">No</div>
    </div>
</div>


<!-- Game Over Screen -->
<div class="ui basic modal" id="game-over">
    <div class="header">
        Game Over!
    </div>
    <div class="content" style="text-align: center">
        <div *ngIf="isEmptyString(user.name)" class="ui form">
            <div class="ui visible warning message">
                <div class="header">
                    Last chance to appear on the leaderboard!
                </div>
                You haven't provided your name or logged in yet
            </div>
            <div class="six wide field">
                <input type="text" id="user-name" placeholder="Username (0-14 characters)" maxlength="14"
                       [value]="user.name" #usernameInput>
            </div>
            <div class="ui big positive button" (click)="logHighScore(usernameInput.value)">Submit Score</div>
        </div>
        <h2 *ngIf="!isEmptyString(user.name)"><b>Name:</b> {{user.name}}</h2>
        <h2><b>Final Score</b>: {{score}}</h2>
        <h2><b>Level</b>: {{diffLevel}}</h2>
    </div>
    <div class="actions">
        <div class="ui button" (click)="restart()">
            <i class="repeat icon"></i>Play Again
        </div>
        <div class="ui button" (click)="backToMenu($event)">
            <i class="sign out icon"></i>Return to Menu
        </div>
    </div>
</div>
