<h2 class="ui header divided">{{name}}</h2>
<div class="ui segment">
    <div id="hud">
        <div></div>
        <ul>
            <li>Score: {{score}} <span class="add-score">(+ {{quiz.targetValue}})</span></li>
            <li>Health:
                <i class="heart icon"
                   [class.empty]="health<1"
                   [class.warning]="health==1"></i>
                <i class="heart icon"
                   [class.empty]="health<2"
                   [class.warning]="health==1"></i>
                <i class="heart icon"
                   [class.empty]="health<3"
                   [class.warning]="health==1"></i>
            </li>
        </ul>
    </div>
    <hr>

    <!--<div id="battleground">-->
    <!--<div id="wall">|</div>-->
    <!--<div class="monster" id="monster-0"></div>-->
    <!--</div>-->
    <!--<input type="text" (keypress)="keyPress($event)" id="editor">-->

    <div id="user-control" class="ui grid">
        <div class="sixteen wide column"><h2>Level: {{diffLevel}}</h2></div>
        <!-- Available Buttons -->
        <div class="ui row">
            <ul class="column">
                <li class="ui blue button"
                    [style.width]="buttonWidth + 'px'"
                    [class.basic]="currAvailInput[i].disabled"
                    *ngFor="let symbol of currAvailInput; let i = index"
                    (click)="selectAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
        </div>

        <!-- Answer Area -->
        <div class="ui row" id="input-area">
            <div class="question-values four wide right aligned column" id="given-value">{{quiz.givenValue}}</div>
            <ul class="eight wide column">
                <li class="ui disabled grey button"
                    [style.width]="buttonWidth + 'px'"
                    [class.blue]="!isEmptyString(currUserInput[i].value)"
                    [class.disabled]="isEmptyString(currUserInput[i].value)"
                    *ngFor="let symbol of currUserInput; let i = index"
                    (click)="removeAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
            <div class="question-values four wide left aligned column" id="target-value">
                = {{quiz.targetValue}}
            </div>
        </div>
        <div class="sixteen wide column"><b>Preview your answer:</b> {{exprString}}</div>
        <div class="ui negative message centered twelve wide column" [class.hidden]="isEmptyString(errorMessage)">
            <div class="header">
                Wrong answer
            </div>
            <p>{{errorMessage}}</p>
        </div>
    </div>
    <hr>

    <div class="ui grid" id="options">
        <div class="left floated sixteen wide mobile five wide tablet four wide computer column">
            <h3>Power-Ups</h3>
            <button class="ui button teal" (click)="skipQuestion()">
                <i class="fast forward icon"></i>Skip this question ({{skipPower}}/3)
            </button>
            <!--<button class="ui button teal" (click)="">-->
            <!--<i class="icon"></i>-->
            <!--</button>-->
        </div>
        <div class="right floated sixteen wide mobile five wide tablet four wide computer column">
            <h3 class="right aligned text">Options</h3>
            <button class="right floated ui button red" (click)="quitGame()">Quit Game</button>
        </div>
    </div>
</div>

<div class="ui small modal" id="confirm-quit">
    <div class="header">
        Quitting Game...
    </div>
    <div class="content" style="text-align: center">
        Are you sure you want to quit game?
    </div>
    <div class="actions">
        <div class="ui positive button" (click)="gameOver()">Yes</div>
        <div class="ui negative button">No</div>
    </div>
</div>

<div class="ui basic modal" id="game-over">
    <div class="header">
        Game Over!
    </div>
    <div class="content" style="text-align: center">
        <h2><b>Final Score</b>: {{score}}</h2>
        <h2><b>Level</b>: {{diffLevel}}</h2>
    </div>
    <div class="actions">
        <div class="ui button" (click)="restart()">
            <i class="repeat icon"></i>Play Again</div>
        <div class="ui button" (click)="backToMenu($event)">
            <i class="sign out icon"></i>Return to Menu</div>
    </div>
</div>
