<h2 class="ui header divided">{{name}}</h2>
<div class="ui segment">

    <div id="hud">
        <h3>Score: {{score}}</h3>
    </div>

    <!--<div id="battleground">-->
    <!--<div id="wall">|</div>-->
    <!--<div class="monster" id="monster-0"></div>-->
    <!--</div>-->

    <!--<input type="text" (keypress)="keyPress($event)" id="editor">-->
    <div id="user-control" class="ui grid">
        <div class="ui row">
            <ul class="column">
                <li class="ui blue button"
                    [style.width]="buttonWidth + 'px'"
                    [class.basic]="currAvailInput[i].disabled"
                    *ngFor="let symbol of currAvailInput; let i = index"
                    (click)="selectAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
        </div>

        <div class="ui row" id="input-area">
            <div class="question-values four wide right aligned column" id="given-value">{{quiz.givenValue}}</div>
            <ul class="eight wide column">
                <li class="ui disabled grey button"
                    [style.width]="buttonWidth + 'px'"
                    [class.blue]="!isEmptyString(currUserInput[i].value)"
                    [class.disabled]="isEmptyString(currUserInput[i].value)"
                    *ngFor="let symbol of currUserInput; let i = index"
                    (click)="removeAnswer(i)">
                    {{symbol.value}}
                </li>
            </ul>
            <div class="question-values four wide left aligned column" id="target-value">
                = {{quiz.targetValue}}
            </div>
        </div>
        <b>Your answer:</b> {{exprString}}
    </div>
    <button (click)="makeQuiz()">Make a quiz</button>
</div>