$red_semantic: #DB2828;
$red_inverted_semantic: #FF695E;
$orange_semantic: #F2711C;
$yellow_semantic: #FBBD08;
$olive_semantic: #B5CC18;
$green_semantic: #21BA45;
$teal_semantic: #00B5AD;
$blue_semantic: #2185D0;
$violet_semantic: #6435C9;
$purple_semantic: #A333C8;
$pink_semantic: #E03997;
$brown_semantic: #A5673F;
$grey_semantic: #767676;
$black_semantic: #1B1C1D;

body {
    background: #F4F4F4;
    .center {
        text-align: center;
        padding-top: 100px;
    }
    .sebm-google-map-container {
        height: 300px;
    }

    nav.ui.inverted.menu {
        border-radius: 0 !important;
        .item {
            color: $red_inverted_semantic;
            border-radius: 0 !important;
        }
        .item:hover,
        .item:focus {
            color: white;
            background-color: $red_inverted_semantic;
        }
    }

    quiz {
        -webkit-user-select: none; /* Chrome all / Safari all */
        -moz-user-select: none; /* Firefox all */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Likely future */
        #hud {
            width: 100%;
            height: 40px;
            ul {
                float: left;
                margin: 0;
                padding-left: 5px;
                li {
                    list-style: none;
                    font-weight: bold;
                    font-size: 16px;
                }
                .add-score {
                    color: $green_semantic;
                    opacity: 0;
                    position: absolute;
                    padding-left: 2px;
                }
                .heart.icon {
                    color: red;
                }
                .warning.heart.icon {
                    animation: glow 0.8s infinite alternate;
                }
                @keyframes glow {
                    to { text-shadow: 0 0 10px red; }
                }
            }
            #how-to { float: right; }
            @media only screen and (max-width: 767px) {
                #how-to { .icon { margin: 0; } }
                #how-to-text { display: none }
            }

        }

        #battleground {
            position: relative;
            height: 70vh;
            border: solid 1px black;
            overflow: hidden;
            #wall {
                position: absolute;
                right: 1%;
            }
            // TODO add eyes to monster
            // shapes via Alan Johnson
            .monster {
                background: red;
                width: 80px;
                height: 80px;
                position: absolute;
                left: 0;
                text-align: center;
                -webkit-transform: rotate(20deg);
                -moz-transform: rotate(20deg);
                -ms-transform: rotate(20deg);
                -o-transform: rotate(20 eg);
            }
            .monster:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 80px;
                width: 80px;
                background: red;
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -o-transform: rotate(135deg);
            }
        }
        #user-control {
            user-select: none;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            span {
                display: inline-block;
            }
            ul {
                li {
                    list-style: none;
                    display: inline-block;
                }
                li.ui.button {
                    width: 50px;
                    height: 36px; // height and vertical-align to work with empty buttons
                    vertical-align: top;
                }
            }
            .question-values {
                font-size: 30px;
                padding: 10px;
            }
        }

        #options {
            .column {
                .button:not(:first-of-type) {
                    margin-top: 5px;
                }
            }
            .right.aligned.text {
                text-align: right;
            }
            @media only screen and (max-width: 767px) and (min-width: 320px) {
                .right.floated.column {
                    .right.floated.button {
                        float: left;
                        margin: 0;
                    }
                    .right.aligned.text {
                        text-align: left;
                    }
                }
            }
        }
    }
}
