<div class="ui container" id="leaderboard">
    <h1>Leaderboard</h1>
    <table class="ui very basic collapsing sortable selectable celled table">
        <thead>
        <tr>
            <th>Username</th>
            <th [class.sorted]="criteria == 'score'" class="descending" (click)="getUsersBy('score')">Hi-Score</th>
            <th [class.sorted]="criteria == 'level'" class="descending" (click)="getUsersBy('level')">Hi-Level</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of topUsers; let i = index">
            <td>
                <h4 class="ui image header">
                    <!--<img src="" class="ui mini rounded image">-->
                    <div class="content">
                        {{user.name}}
                        <i *ngIf="i == 0" class="gold star icon"></i>
                        <i *ngIf="i == 1" class="silver star icon"></i>
                        <i *ngIf="i == 2" class="bronze star icon"></i>
                        <!--<div class="sub header">-->
                    </div>
                </h4>
            </td>
            <td>
                {{user.highScore}} pts.
            </td>
            <td>
                Lv. {{user.highLevel}}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="ui active centered inline loader" *ngIf="topUsers.length == 0"></div>
</div>