<div class="ui container">
    <table class="ui very basic collapsing celled table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Hi Score</th>
            <th>Hi Level</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <h4 class="ui image header">
                    <!--<img src="" class="ui mini rounded image">-->
                    <div class="content">
                        Lena
                        <!--<div class="sub header">-->
                    </div>
                </h4>
            </td>
            <td>
                22
            </td>
        </tr>
        </tbody>
    </table>
</div>